<app-page-header>
  Alert component
</app-page-header>
<h2>
  Overview
</h2>
<p>
  The <code>app-alert</code> component is used to generate a bootstrap style alert.
  The text inside the alert is output through <code>ng-content</code>.
  You may specify the following parameters:
</p>
<dl>
  <dt>
    alertId <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies the <code>id</code> attribute of the alert.
  </dd>
  <dt>
    alertRole <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies the <code>role</code> attribute of the alert.
  </dd>
  <dt>
    alertType <span class="opacity-75">(optional - Default: alert-info)</span>
  </dt>
  <dd>
    This parameter specifies the type of the alert, using one of the bootstrap CSS classes.
  </dd>
</dl>
<h2>
  Info alert
</h2>
<p>
  The <code>alertType</code> is specified as <code>alert-info</code>, or not provided.
</p>
<app-alert>
  Enter your text here.
</app-alert>
<h2>
  Warning alert
</h2>
<p>
  The <code>alertType</code> is specified as <code>alert-warning</code>.
</p>
<app-alert
  alertType="alert-warning">
  Enter your text here.
</app-alert>
<h2>
  Danger alert
</h2>
<p>
  The <code>alertType</code> is specified as <code>alert-danger</code>.
  An <code>alertId</code> of "dangerAlert" is also passed, which makes the alert focusable.
</p>
<app-alert
  alertId="dangerAlert"
  alertRole="alert"
  alertType="alert-danger">
  Enter your text here.
</app-alert>
<button
  class="btn btn-outline-danger"
  (click)="focusDangerAlert()">
  Click to focus danger alert
</button>
<div class="mb-2 mt-4">
  Return to:
  <a routerLink="/" aria-label="Return to home page">
    Home
  </a>
</div>