<app-page-header>
  Error validation components
</app-page-header>
<h2 class="mb-3">
  Overview
</h2>
<h3 class="h4">
  Error Header
</h3>
<p>
  The <strong>app-form-error-header</strong> component is used to generate a danger alert that tells 
  the user how many errors exist on a form. You can also display a custom error message, which will 
  override the default message. 
  You may specify the following parameters:
</p>
<dl>
  <dt>errorHeaderMessage</dt>
  <dd>
    This parameter specifies a custom error message which should be displayed in the error header. 
    If this parameter is not provided, the default message with the error count is displayed.
  </dd>
  <dt>errorHeaderFormGroup</dt>
  <dd>
    This parameter specifies the <em>FormGroup</em> that will have its errors counted.
  </dd>
</dl>
<h3 class="h4">
  Error Feedback
</h3>
<p>
  The <strong>app-form-error-feedback</strong> component is used to generate error messages that pertain
  to a specific form control. Typically, these message are displayed beneath the control.
  You may specify the following parameters:
</p>
<dl>
  <dt>errorFeedbackControl</dt>
  <dd>
    This parameter specifies the <em>FormControl</em> that will be checked for errors.
  </dd>
  <dt>errorFeedbackId</dt>
  <dd>
    This parmaeter specifies the id that will be applied to the error <em>div</em> element, for accessibility purposes.
  </dd>
  <dt>errorFeedbackMessages</dt>
  <dd>
    This parameter specifies a key/value list that maps error codes to error messages. If any of the
    error codes are active on the control, the associated error message will be displayed.
  </dd>
</dl>
<p>
  Note: The <strong>app-form-error-feedback</strong> component is already contained within each <em>app-form-input</em> component.
</p>
<h2 class="mb-3">
  Example form
</h2>
<app-form-error-header
  [errorHeaderMessage]="exampleForm.controls.customMessage.value"
  [errorHeaderFormGroup]="exampleForm">
</app-form-error-header>
<form
  #form="ngForm"
  autocomplete="off"
  [formGroup]="exampleForm" 
  (ngSubmit)="submit()">
  <h3 class="h4">
    FormControl
  </h3>
  <div class="col-lg-6 mb-3">
    <app-form-input-text
      formControlName="formValueOne"
      [inputErrorMessageId]="'formValueOneError'"
      [inputErrorMessages]="errorMessageMap"
      [inputLabelText]="'FormControl Value'"
      [inputId]="'formValueOne'"
      [inputRequired]="true">
    </app-form-input-text>
  </div>
  <h3 class="h4">
    FormGroup
  </h3>
  <div [formGroup]="subFormOne">
    <div class="col-lg-6 mb-3">
      <app-form-input-text
        formControlName="subFormValueOne"
        [inputErrorMessageId]="'subFormValueOneError'"
        [inputErrorMessages]="errorMessageMap"
        [inputLabelText]="'FormGroup Value One'"
        [inputId]="'subFormValueOne'"
        [inputRequired]="true">
      </app-form-input-text>
    </div>
    <div class="col-lg-6 mb-3">
      <app-form-input-text
        formControlName="subFormValueTwo"
        [inputErrorMessageId]="'subFormValueTwoError'"
        [inputErrorMessages]="errorMessageMap"
        [inputLabelText]="'FormGroup Value Two'"
        [inputId]="'subFormValueTwo'"
        [inputRequired]="true">
      </app-form-input-text>
    </div>
  </div>
  <h3 class="h4">
    FormArray
  </h3>
  <div class="mb-3" formArrayName="formArrayOne">
    <div 
      class="col-lg-6 mb-3"
      *ngFor="let control of formArrayOne.controls; let i = index">
      <app-form-input-text
        [formControlName]="i"
        [inputErrorMessageId]="'formArrayOne' + i + 'Error'"
        [inputErrorMessages]="errorMessageMap"
        [inputLabelText]="'FormArray Value ' + i"
        [inputId]="'formArrayOne' + i"
        [inputRequired]="true">
      </app-form-input-text>
      <button
        class="btn btn-sm btn-danger mb-1 mt-2"
        type="button"
        (click)="removeArrayElement(i)">
        Remove element
        <span class="visually-hidden">
          {{ i }}
        </span>
      </button>
    </div>
    <button
      class="btn btn-secondary mb-1"
      id="addButton"
      type="button"
      (click)="addArrayElement()">
      Add element
    </button>
  </div>
  <h3 class="h4">
    Custom error header message
  </h3>
  <div class="col-lg-6 mb-3">
    <app-form-input-text
      formControlName="customMessage"
      [inputLabelText]="'Enter custom error header message'"
      [inputId]="'customMessage'">
    </app-form-input-text>
  </div>
  <div class="mt-4">
    <button
      class="btn btn-primary mb-1"
      type="submit">
      Submit
    </button>
  </div>
</form>
<div class="mb-2 mt-4">
  Return to: 
  <a routerLink="/" aria-label="Return to home page">
    Home
  </a>
</div>