<app-page-header>
  Page footer component
</app-page-header>
<h2>
  Overview
</h2>
<p>
  The <strong>app-page-footer</strong> component is used to generate a footer at the bottom of the page. 
  You may specify the following parameters:
</p>
<dl>
  <dt>buildDate</dt>
  <dd>
    A <em>string</em> or <em>Date</em> that represents the last time the application was built.
    If a <em>Date</em> is passed, the date is output based on the current locale.
  </dd>
  <dt>versionNumber</dt>
  <dd>
    A <em>string</em> or <em>number</em> that represents the version number.
  </dd>
</dl>
<p>
  An example of the footer can be found at the bottom of this page.
</p>
<div class="mb-2 mt-4">
  Return to: <a routerLink="/" aria-label="Return to home page">Home</a>
</div>