<h3 class="h4">
  Error Header
</h3>
<p>
  The <code>app-form-error-header</code> component is used to generate a danger alert that tells
  the user how many errors exist on a form. You can also display a custom error message that will
  override the default message.
  You may specify the following parameters:
</p>
<dl>
  <dt>
    errorFormGroup <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies the <code>FormGroup</code> that will have its errors counted, in order
    to display the default error message. You must use the <code>appFormA11y</code> directive on the
    <code>form</code> element and pass a reference to the error header component to the directive
    using the <code>formErrorHeader</code> parameter, if you wish for the error header to automatically
    display the error count.
  </dd>
  <dt>
    errorMessage <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies a custom error message which should be displayed in the error header.
    This will override the default message.
  </dd>
</dl>