<h3 class="h4">
  Form Label
</h3>
<p>
  The <code>app-form-label</code> component is used to generate a label that is typically used
  with form input fields. The text inside the label is output through <code>ng-content</code>.
  You may specify the following parameters:
</p>
<dl>
  <dt>
    labelControlId <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies the <code>id</code> attribute of the associated form control field,
    for accessibility purposes.
  </dd>
  <dt>
    labelInvisible <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies if the label should be invisible, for accessibility purposes.
    Defaults to false.
  </dd>
  <dt>
    labelRequired <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies if the label should be marked as required, which adds the text
    <strong class="text-danger">(required)</strong> to the end of the label.
    Defaults to false.
  </dd>
</dl>
<p>
  Note: The <code>app-form-label</code> component is already contained within each <em>app-form-input</em> component.
</p>