<h3 class="h4">
  Error Header
</h3>
<p>
  The <code>app-form-error-header</code> component is used to generate a danger alert that tells
  the user how many errors exist on a form. You can also display a custom error message that will
  override the default message.
  You may specify the following parameters:
</p>
<dl>
  <dt>
    errorHeaderFormGroup <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies the <code>FormGroup</code> that will have its errors counted, in order
    to display the default error message.
  </dd>
  <dt>
    errorHeaderMessage <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies a custom error message which should be displayed in the error header.
    This will override the default message.
  </dd>
</dl>