<app-page-header>
  Spinner component
</app-page-header>
<h2>
  Overview
</h2>
<p>
  The <code>app-spinner</code> component is used to generate an animated spinner icon.
  Additional HTML content can also be specified through <code>ng-content</code>.
  You may specify the following parameters:
</p>
<dl>
  <dt>
    spinnerAccessibleText <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies the invisible text located within the spinner, for accessibility purposes.
    Defaults to <em>"Loading..."</em>.
  </dd>
  <dt>
    spinnerColor <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies the spinner's color, using text color classes from Bootstrap.
    (Example: <code>text-primary</code> or <code>text-secondary</code>.)
    Defaults to the standard text color.
  </dd>
  <dt>
    spinnerSmall <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies if you wish to use a small spinner. Defaults to false.
  </dd>
  <dt>
    spinnerStyle <span class="opacity-75">(optional)</span>
  </dt>
  <dd>
    This parameter specifies the style of spinner. It can be either <code>spinner-border</code> or <code>spinner-grow</code>.
    Defaults to <code>spinner-border</code>.
  </dd>
</dl>
<h2>
  Border spinner
</h2>
<p>
  Here are examples of different types of border spinners:
</p>
<div class="mb-3">
  <span class="me-1">
    <app-spinner/>
  </span>
  <span class="me-1">
    <app-spinner
      [spinnerColor]="'text-danger'">
    </app-spinner>
  </span>
  <span class="me-1">
    <app-spinner
      [spinnerSmall]="true">
    </app-spinner>
  </span>
  <span>
    <app-spinner
      [spinnerColor]="'text-danger'"
      [spinnerSmall]="true">
    </app-spinner>
  </span>
</div>
<h2>
  Growing spinner
</h2>
<p>
  Here are examples of different types of growing spinners:
</p>
<div class="mb-3">
  <span class="me-1">
    <app-spinner
      [spinnerStyle]="'spinner-grow'">
    </app-spinner>
  </span>
  <span class="me-1">
    <app-spinner
      [spinnerColor]="'text-danger'"
      [spinnerStyle]="'spinner-grow'">
    </app-spinner>
  </span>
  <span class="me-1">
    <app-spinner
      [spinnerSmall]="true"
      [spinnerStyle]="'spinner-grow'">
    </app-spinner>
  </span>
  <span>
    <app-spinner
      [spinnerColor]="'text-danger'"
      [spinnerSmall]="true"
      [spinnerStyle]="'spinner-grow'">
    </app-spinner>
  </span>
</div>
<h2>
  Spinner with text
</h2>
<p>
  Any HTML content added within the spinner selector will be placed alongside the spinner using <code>ng-content</code>.
</p>
<app-spinner>
  Loading...
</app-spinner>
<div class="mb-2 mt-4">
  Return to:
  <a routerLink="/" aria-label="Return to home page">
    Home
  </a>
</div>