<app-page-header>
  Sample application
</app-page-header>
<app-alert
  [alertType]="'alert-warning'">
  Note: Bootstrap CSS and script files must be added to your application's <em>angular.json</em> file in order to use this library.
</app-alert>
<p>
  Select a component below to see examples of how to use it in your application.
</p>
<h2>
  Components
</h2>
<ul>
  <li><a routerLink="/alert">Alert</a></li>
  <li><a routerLink="/errorValidation">Error Validation</a></li>
  <li><a routerLink="/pagefooter">Page Footer</a></li>
  <li><a routerLink="/pageheader">Page Header</a></li>
  <li><a routerLink="/spinner">Spinner</a></li>
</ul>