<app-page-header>
  Template driven form components
</app-page-header>
<h2 class="mb-3">
  Overview
</h2>
<p>
  Select a component below to displayed more detailed information.
</p>
<ul class="mb-4">
  <li><a routerLink="errorHeader">Error Header</a></li>
  <li><a routerLink="errorFeedback">Error Feedback</a></li>
  <li><a routerLink="formLabel">Form Label</a></li>
  <li><a routerLink="formInputText">Form Input - Text</a></li>
</ul>
<hr>
<div aria-live="polite">
  <router-outlet></router-outlet>
</div>
<hr>
<h2 class="mb-3">
  Examples
</h2>
<form
  autocomplete="off"
  #exampleForm="ngForm"
  (ngSubmit)="submit(exampleForm.form)">
  <app-form-error-header
    [errorHeaderFormGroup]="exampleForm.form">
  </app-form-error-header>
  <div class="col-lg-6 mb-3">
    <app-form-input-text
      name="formValueText"
      [inputErrorMessageId]="'formValueTextError'"
      [inputErrorMessages]="errorMessageMap"
      [inputId]="'formValueText'"
      [inputLabelText]="'Form Text Value'"
      [inputRequired]="true"
      [(ngModel)]="formValue"
      required>
    </app-form-input-text>
  </div>
  <div class="mt-4">
    <button
      class="btn btn-primary mb-1"
      type="submit">
      Submit
    </button>
  </div>
</form>
<div class="mb-2 mt-4">
  Return to:
  <a routerLink="/" aria-label="Return to home page">
    Home
  </a>
</div>